.column{
    // button{
    //     display: block;
    // }
    // input{
    //     display: block;
    // }
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(2em + 4px);
}

.row{
    display: inline-flex;
    align-items: center;
    width: fit-content;
    height: calc(2em + 4px);
}