@use '../../styles.scss';

$scale2: 0.2;
$scale1: 0.6;
$time: 1s;

.circlePosHiddenLeft{
    left: 10%;
    opacity: 0;
    z-index: -4;
}

.circlePos-2{
    left: 15%;
    z-index: -3;
}

.circlePos-1{
    left: 24%;
    z-index: -2;
}

.circlePos0{
    left: 50%;
    z-index: 0;
}

.circlePos1{
    left: 76%;
    z-index: -1;
}

.circlePos2{
    left: 85%;
    z-index: -4;
}

.circlePosHiddenRight{
    left: 85%;
    opacity: 0;
    z-index: -4;
}

.scalePosHiddenLeft{
    transform: scale($scale2);
}

.scalePos-2{
    transform: scale($scale2);
}

.scalePos-1{
    transform: scale($scale1);
}

.scalePos0{
    transform: scale(1);
}

.scalePos1{
    transform: scale($scale1);
}

.scalePos2{
    transform: scale($scale2);
}

.scalePosHiddenRight{
    transform: scale($scale2); 
}

.mainDiv{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

    transition: all $time ease-in-out;
}

.subDiv2 {
    font-family: styles.$font-title;
    display: inline-grid;
    grid-template-columns: auto auto;
    

    transition: all $time ease-in-out;
}
.child {
    background:blue;
}

#topLeftDiv{
    background-color:green;
}
#topRightDiv{
    display: flex;
    align-items: flex-end;
}
#botLeftDiv{
    text-align: right;
}