@use '../../styles.scss';

#row{
    display: flex;
    //justify-content: center;
    width: 100%;

    font-family: styles.$font-title;
}

#rowControls{
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    min-width: 25vw;
}

input{
    width: 1em;
    height: 1em;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.7em;
}

cell:nth-of-type(5n+5){
    border-right: 3px solid red;

    &:last-of-type{
        border-right: unset;
    }
}