@use '../../styles.scss';

#row{
    display: flex;
    width: 100%;

    &.zIndex2{
        position: relative;
        //z-index: 2;
    }
}

#rowControls{
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    min-width: 25vw;
}