//$import "colors.less";
@use '../../styles.scss';

#cell{
    width: 2em;
    height: 2em;

    background-color: styles.$colorCellBackground;

    border: 2px solid black;

    &:after{
        content: "";
        display: block;
        color: coral;
        position: relative;//absolute;
        z-index: 1;
        background: coral;
        transform: scale(2.5);
        height: 100%;
        width: 100%;
        opacity: 0;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }

    &.filled{
        &:after{
            transform: scale(1);
            opacity: 1;
        }
    }

    &.isFithColumn{
        border-right: 2px solid red;
    }
    &.isSixthColumn{
        border-left: 2px solid red;
    }
    &.isFithRow{
        border-bottom: 2px solid red;
    }
    &.isSixthRow{
        border-top: 2px solid red;
    }
    
}

.similar{
    border: 2px solid purple !important;
}

.wc-box{
    position: relative;
    top: 1em;
    transform: scale(2.5);
    opacity: 0;
    animation: anim 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes anim{
    0%{transform: scale(2.5); opacity: 0}
    100%{transform: scale(1); opacity: 1}
}

.wc-box div:before,
.wc-box div:after {
    content: " ";
    position: absolute;
    border-color: #de5985;
    border-style: solid;
    border-width: 0 0 5px 0;
}

.wc-box .close:before,
.wc-box .close:after {
    right: 0%;
    left: 0%;
    top:calc(50% - 2.5px);
}

.wc-box .close:before {
    transform: rotate(45deg);
}

.wc-box .close:after {
    transform: rotate(-45deg);
}