//$import "colors.less";
@use '../../styles.scss';
$width: 2em;
$height: 2em;
$borderWidth: 2px;
$time: 0.2s;

#cellContainer{
    position: relative;

    &.zIndex2{
        z-index: 2;
    }
}

#fill{
    display: block;
    position: absolute;
    top:$borderWidth;
    left:$borderWidth;
    width: $width;
    height: $height;
    background: coral;
    transform: scale(2.5);
    opacity: 0;
    z-index: 1;

    &.filled{
        animation: animCellContent $time ease-in-out;
        animation-fill-mode: forwards;
    }
}

#cell{
    width: $width;
    height: $height;

    background-color: styles.$colorCellBackground;

    border: $borderWidth solid black;

    &.columnFirst{
        // box-shadow: 0px 0 15px 10px #f00;
        clip-path: inset(-40px -40px 0px -40px);
    }

    &.column{
        // box-shadow: 0px 0 15px 10px #f00;
        clip-path: inset(-0px -40px 0px -40px);
    }

    &.columnLast{
        // box-shadow: 0px 0 15px 10px #f00;
        clip-path: inset(-0px -40px -40px -40px);
    }

    &.rowFirst{
        // box-shadow: 0px 0 15px 10px #f00;
        clip-path: inset(-40px 0px -40px -40px);
    }

    &.row{
        // box-shadow: 0px 0 15px 10px #f00;
        clip-path: inset(-40px 0px -40px 0px);
    }

    &.rowLast{
        // box-shadow: 0px 0 15px 10px #f00;
        clip-path: inset(-40px -40px -40px 0px);
    }

    &.isFithColumn{
        border-right: $borderWidth solid red;
    }
    &.isSixthColumn{
        border-left: $borderWidth solid red;
    }
    &.isFithRow{
        border-bottom: $borderWidth solid red;
    }
    &.isSixthRow{
        border-top: $borderWidth solid red;
    }

    &::after{
        content: '';
        position: absolute;
        z-index: -1;
        width: calc(100% - #{$borderWidth});
        height: calc(100% - #{$borderWidth});
        opacity: 0;
        //box-shadow: 0 5px 15px rgba(255,255,255,0.3);
        box-shadow: 0px 0px 15px 10px #f00;
        //transition: opacity $time ease-in-out;
        //animation: animBoxShadowOff $time ease-in-out;
        //animation-direction: reverse;
        //animation-fill-mode: backwards;
    }

    &.glowOff{
        &::after{
            animation: animBoxShadowOff $time ease-in-out;
            animation-fill-mode: forwards;
        }
    }

    &.glowOn{
        &::after{
            // content: '';
            // position: absolute;
            // z-index: -1;
            // width: calc(100% - #{$borderWidth});
            // height: calc(100% - #{$borderWidth});
            //opacity: 1;
            //box-shadow: 0 5px 15px rgba(255,255,255,0.3);
            // box-shadow: 0px 0px 15px 10px #f00;
            //transition: opacity 0.3s ease-in-out;
            animation: animBoxShadowOn $time ease-in-out;
            animation-fill-mode: forwards;
            //animation-fill-mode: forwards;
        }
    }


}

@keyframes animBoxShadowOff{
    0%{opacity: 1}
    100%{opacity: 0}
}

@keyframes animBoxShadowOn{
    0%{opacity: 0}
    100%{opacity: 1}
}

.similar{
    border: $borderWidth solid purple !important;
}

.crossContainer{
    position: absolute;
    top:$borderWidth;
    left:$borderWidth;
    width: $width;
    height: $height;
    //transform: scale(2.5);
    opacity: 0;
    animation: animCellContent $time ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes animCellContent{
    0%{transform: scale(2.5); opacity: 0}
    100%{transform: scale(0.999); opacity: 1}
}

.crossContainer div:before,
.crossContainer div:after {
    content: " ";
    position: absolute;
    border-color: #de5985;
    border-style: solid;
    border-width: 0 0 5px 0;
}

.crossContainer .close:before,
.crossContainer .close:after {
    right: 0%;
    left: 0%;
    top:calc(50% - 2.5px);
}

.crossContainer .close:before {
    transform: rotate(45deg);
}

.crossContainer .close:after {
    transform: rotate(-45deg);
}